<!DOCTYPE html>
<html lang="es">
  <%- partial('partials/head') %>
  <body itemscope itemtype='https://schema.org/WebPage'>
    <%- partial('partials/header') %>
    <main itemscope itemtype='https://schema.org/Blog'>
      <%- partial('partials/content') %>
      <%- partial('partials/footer') %>
    </main>
    <%- partial('partials/scripts') %>
